/* Navbar */
*{margin: 0; padding: 0;
    box-sizing: border-box;}
    
    .navbar {width: 100%;
        background-image: linear-gradient(to right, rgb(109, 0, 109), rgb(193, 126, 255));
    }
    
    .nav-link {color:white!important;
    /*text-align: center; */ }
    
    .nav-link:hover{color: black!important;}


/* Tricolumnas */ 
.card mb-4{
    display: flex;
}

.card-fondo1{
    width: 250px;
    height: 235px;
    background-color: #4B2177;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto

}
.card-fondo1:hover{
    background-color: darkorchid;
    transition: 1s linear ;
}
.card-fondo2{
    width: 250px;
    height: 235px;
    background-color: #B55CCC;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto

}
.card-fondo2:hover{
    background-color: #a205c9;
    transition: 1s linear ;
}
.card-fondo3{
    width: 250px;
    height: 235px;
    background-color: #6242AF;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto

}
.card-fondo3:hover{
    background-color: #392666;
    transition: 1s linear ;
}

.card-img-top{
    margin-top: 7%;
    width: 50%;
    height: 80%;
}
.card-title, .card-text{
    text-align: center;
}
/* bordes */
#borde1{
    width: 80%;
    background-color:rgb(68,0,58)!important;
}
#borde2{
    background-color:rgb(68, 0, 58)!important;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}